@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=TikTok+Sans:opsz,wght@12..36,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600;700;800&display=swap');


*{
  font-family: "Outfit", sans-serif;
} 

html{
  scroll-behavior: smooth;
}

@layer base{
  button{
    @apply cursor-pointer;
  }
}