@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

:global(*) {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

/* WRAPPER */
.container {
  background-color: #fff;
  border-radius: 30px;
  box-shadow: 0 5px 15px rgba(255, 255, 255, 0.35);
  position: relative;
  overflow: hidden;
  width: 768px;
  max-width: 100%;
  min-height: 480px;
  margin: 50px auto;
}

.active {
  /* used for toggling */
}

/* TEXTS */
.container p {
  font-size: 14px;
  margin: 20px 0;
}

.container span {
  font-size: 12px;
}

.container a {
  color: #333;
  font-size: 13px;
  text-decoration: none;
  margin: 15px 0 10px;
}

.container button {
  background-color: indigo;
  color: #fff;
  font-size: 12px;
  padding: 10px 45px;
  border: 1px solid transparent;
  border-radius: 8px;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin-top: 10px;
  cursor: pointer;
}

.hidden {
  background-color: transparent;
  border-color: #fff !important;
}

/* FORMS */
.formContainer {
  position: absolute;
  top: 0;
  height: 100%;
  width: 50%;
  transition: all 0.6s ease-in-out;
}

.signIn {
  left: 0;
  z-index: 2;
}

.container.active .signIn {
  transform: translateX(100%);
}

.signUp {
  left: 0;
  opacity: 0;
  z-index: 1;
}

.container.active .signUp {
  transform: translateX(100%);
  opacity: 1;
  z-index: 5;
}

/* FORM ELEMENTS */
.formContainer form {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  height: 100%;
}

.formContainer input {
  background-color: #eee;
  border: none;
  margin: 8px 0;
  padding: 10px 15px;
  border-radius: 8px;
  width: 100%;
  outline: none;
}

/* SOCIAL ICONS */
.socialIcons {
  margin: 20px 0;
}

.icons {
  border: 1px solid #ccc;
  border-radius: 20%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 3px;
  width: 40px;
  height: 40px;
}

/* TOGGLE SECTION */
.toggleContainer {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: all 0.6s ease-in-out;
  z-index: 1000;
}

.container.active .toggleContainer {
  transform: translateX(-100%);
}

.toggle {
  background-color: indigo;
  height: 100%;
  color: #fff;
  position: relative;
  left: -100%;
  width: 200%;
  transform: translateX(0);
  transition: all 0.6s ease-in-out;
}

.container.active .toggle {
  transform: translateX(50%);
}

.togglePanel {
  position: absolute;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 30px;
  text-align: center;
}

.toggleLeft {
  transform: translateX(-200%);
}

.container.active .toggleLeft {
  transform: translateX(0);
}

.toggleRight {
  right: 0;
}
